.Plans {
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 3px;

  .Plan {
    display: block;
    padding: 15px;
    margin: 0;

    input {
      margin-right: 10px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
  }

  .Plan.current {
    pointer-events: none;

    &:after {
      float: right;
      content: "Current Plan";
      background: #5cb85c;
      border: 1px solid #4cae4c;
      color: #fff;
      font-size: 10px;
      text-transform: uppercase;
      padding: 2px 4px;
      border-radius: 3px;
      margin-left: 10px;
    }
  }

  .Plan:hover {
    cursor: pointer;
    background: #f3f3f3;
  }
}
